<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules runAllManagedModulesForAllRequests="false">
				<remove name="SmoothHandler" />
				<remove name="RestfulUrlMapModule" />
				<remove name="PlaylistHandler" />
				<remove name="BitrateModule" />
				<remove name="LiveStreamingHandler" />
			</modules>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\ToDoTelDat.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: e0bc75b3-66d3-4a0a-a212-a586d1ad7954-->